body{
    font-family: 'Poppins', sans-serif;
       margin: 0;
}
h1{
    font-size: 50px;
}
#decoration{
    text-decoration: none;
   color: orangered;
}

.link-button{
    background-image: linear-gradient(rgba(255, 166, 0, 0.479),tomato);
    color: white;
    border-radius: 20px;
    padding: 10px 10px;
    text-decoration: none;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
}
.half-width img{
    height: 100%;
    width: 100%;
}
.text-align{
    text-align: center;
}
#center{
    text-align: justify;
    padding-left: 30%;
    padding-right: 30%;
}
.pic-flex{
    display: flex;
}
.width{
    width: 33.33%;
    padding-left: 5%;
    padding-right: 5%;
}
.inline-border{
    padding-left: 5%;
    padding-right: 5%;
    margin: 50px 50px;
}
.background-color{
    background-color: black;
    color: white;
}