body{
    font-family: 'Poppins', sans-serif;
       margin: 0;
}
h1{
    font-size: 50px;
}
#decoration{
    text-decoration: none;
   color: orangered;
}

.link-button{
    background-image: linear-gradient(rgba(255, 166, 0, 0.479),tomato);
    color: white;
    border-radius: 20px;
    padding: 10px 10px;
    text-decoration: none;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    text-decoration: none;
}
.half-width img{
    height: 100%;
    width: 100%;
}
.background-img{
    background-image: url(images/shapes/border.png);
    background-repeat: no-repeat;
}
.text-align{
    text-align: center;
}
#center{
    text-align: justify;
    padding-left: 30%;
    padding-right: 30%;
}
.pic-flex{
    display: flex;
    text-align: center;
}
.experience-item{
    width: 100%;
    padding: 20px;
    margin-left: 2%;
    margin-right: 2%;
 border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
    text-align: justify;
}
#decoration2{
    text-decoration: none;
    border-radius: 20px;
    background-color: black;
   color:white;
   padding: 20px;
   margin-left: 10%;
}
.background-color{
    background-color: black;
    color: white;
    padding-left: 40%;
}
.experience-area{
    width: 100%;
 border-radius: 10px;
    box-shadow: 10px 10px 40px 10px gray;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 400;
    padding-left: 15%;
    padding-right: 15%;
    margin: 20px 50px;
}
 